img {
	margin: auto;
}

ul.dropdown {
	position: absolute;
	top: calc(1rem * var(--pico-line-height) + var(--pico-form-element-spacing-vertical) * 2 + var(--pico-border-width) * 2);
	width: 100%;
	background-color: var(--pico-dropdown-background-color);
	border-radius: var(--pico-border-radius);
	border: var(--pico-border-width) solid var(--pico-dropdown-border-color);
	padding: 0;
	margin: 0;
	z-index: 99;
}

ul.dropdown li{
	cursor: pointer;
	list-style: none;
	padding: calc(var(--pico-form-element-spacing-vertical)* .5) var(--pico-form-element-spacing-horizontal);
}

ul.dropdown li:hover {
	background-color: var(--pico-dropdown-hover-background-color);
}

ul.dropdown li:first-of-type{
	margin-top: calc(var(--pico-form-element-spacing-vertical)* .5);
	margin-bottom: 0;
}

ul.dropdown li.selected {
	background-color: var(--pico-primary-background);
}

.position-relative {
	position: relative;
}

.blur {
	position: absolute;
	backdrop-filter: blur(8px);
	overflow: hidden;
}

.circle {
	border-radius: 50%;
}

.rounded {
	border-radius: 10px;
}

.count {
	margin-top: 20px;
	text-align: center;
}

.disclaimer {
	color: var(--pico-secondary-background);
	font-size: small;
	text-align: center;
}
